/* button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
  } */
button{
  
  background-color: #15325fb2;
  border: 0px;
}