
<div class="row back-color">
    <div *ngFor="let order of _getOrders" class="col-md-3 col-sm-6 m-3">
        <div *ngIf="order.status==='Pendiente'|| order.status==='Proceso'" class= "card">
            
            <div class="card-body m-2 position-relative">
                <p class="card-text"><b>Mesero: </b>{{order.userId.id}}</p>
               <p class="card-text"><b>Cliente: </b>{{order.cliente}}</p>
               <hr>
               <h5>Orden</h5>
                <div class="px-2 color txt-color" *ngFor="let products of order?.products">
                   <p><b>{{products.qty}}  </b>{{products.name}}</p>
               </div>
               <hr>
               <p class="card-text"><b>Estatus: </b>{{order.status}}</p>
               <p class="card-text"><b>Fecha Inicio: </b>{{order.dateEnry}}</p>
               <hr>
               <div class="d-flex justify-content-around">
                <button 
                type="button" 
                class="btn bg-warning text-body"
                (click)="updateStatus(order._id, 'Proceso')"
                >Proceso
            </button>
                <button 
                    type="button" 
                    class="btn bg-success text-body"
                    (click)="updateStatus(order._id, 'Terminada')"
                    >Terminada
                </button>
                
              </div> 
              <div *ngIf="order.status==='Proceso'">
              <span class="position-absolute top-0 start-100 translate-middle p-3 bg-warning border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span> 
            </div>
            </div>
        </div>
    </div>
</div>