
<div class="modal-header color">
    <h3 class="modal-title txt-color">Orden</h3>
    <button type="button" class="btn text-white colorbtn" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><b>Mesero : </b>{{ fromParent?.userId?.id}}</p>
    <p><b>Cliente : </b>{{ fromParent?.cliente}}</p>
   
       <div class="px-5" *ngFor="let products of fromParent?.products">
           <p><b>Producto : </b>{{products.name}}</p>
           <p><b>Cantidad : </b>{{products.qty}}</p>
       </div>   
    
    <p><b>Estatus : </b>{{ fromParent?.status}}</p>
    <p><b>Hora de entrada: </b>{{ fromParent?.dateEnry}}</p>
    
</div>
<div class="modal-footer color">
    <!-- <button type="button" class="btn btn-primary colorbtn" data-dismiss="modal" (click)="closeModal('close')">Close</button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="closeModal('changes saved!')">Save changes</button> -->
    <button type="button" class="btn  bg-warning text-body" (click)="updateStatus(fromParent._id, 'Cancelada')" >Cancelada</button>
    <button type="button" class="btn  bg-success text-body" (click)="updateStatus(fromParent._id, 'Entregada')" >Entregada</button>
</div>
