<table class="table">
    <thead>
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sub-total</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of comanda">
        <td *ngIf="item.qty>=0 && item.name">{{item.qty}}</td>
        <td *ngIf="item.precio!==0">${{item.precio}}</td>
        <td class="text-start" *ngIf="item.name!==''">{{item.name}}</td>
        <td class="fw-bold" *ngIf="item.subTotal>0">${{item.subTotal}}</td>
      </tr>
    </tbody>
    <tbody>
        <tr>
          <th scope="row">Sub Total</th>
          <td></td>
          <td></td>
          <td>{{toPay.subTotal}}</td>
        </tr>
        <tr>
            <th scope="row">Iva</th>
            <td></td>
            <td></td>
            <td>{{toPay.iva(toPay.subTotal)}}</td>
          </tr>
          <tr class="table-success">
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td class="fw-bold">{{toPay.Total(toPay.subTotal, toPay.iva(toPay.subTotal))}}</td>
          </tr>
      </tbody>
  </table>
