<div class="row g-3 align-items-center flex-row">
    <div class="col-auto">
      <label for="inputName" class="col-form-label text-light fs-4">Cliente: </label>
    </div>
   
      <div class="col-auto">
         <input 
           type="text" 
           id="nameCliente" 
           class="form-control" 
           #txtName
           (keyup.enter)="AddClient()">
     </div>
        <div class="col-auto" >
        <button type="submit" class="btn btn-light txt m-2 px-5">Generar Orden</button>
       </div>
  </div>         
    
   
  
    
  