<div row g-3 align-items-center>
    <form
     class="d-flex justify-content-start marge"
     [formGroup]="formOrderCliente"
     (ngSubmit)="AddClient()"
     > 
   
     <div class="col-auto marge">
         <label for="name-cliente" class="col-form-label text-white fs-4 ">Cliente: </label>
      </div>
      <div class="col-auto marge">   
         <input 
           type="text" 
           id=" name-cliente" 
           class="form-control "
           formControlName="cliente" 
           >
        </div> 
      
        <div class="col-auto marge"> 
          <button 
           type="submit" 
           class="btn btn-light txt px-5"
           [disabled]="formOrderCliente.invalid"
           >Generar Orden
          </button>
        </div>  
       
      </form>
  </div>         
    
   
  
    
  