
<form 
[formGroup]="formLogin"
(ngSubmit)="login()"
>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form1Example13">Email address</label>
    <input 
    type="email" 
    id="form1Example13" 
    class="form-control form-control-lg"
    formControlName="email"
     />
    
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form1Example23">Password</label>
    <input 
    type="password" 
    id="form1Example23" 
    class="form-control form-control-lg" 
    formControlName="password"
    />
    
  </div>

 
    

  <!-- Submit button -->
  <div class="d-grid gap-3">
    <button 
    mdbRipple class="btn btn-primary" 
    type="submit"
    [disabled]="formLogin.invalid"
    >Login</button>
    
  </div>


</form>
